.form-container{
    background-color: #D3D4BE;
    border-radius: 8px;
}
.form-container p{ 
    padding-bottom: 1rem;
    text-align: justify;

    line-height: 3rem;
    max-width: 70%;
}

.form-container h3 {
    font-size: 2.2em;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
}

.form-container p{
    font-size: .9rem;
}

.formField{
    width: 100%;
    padding-bottom: 2rem;  
}

.input{
    border: 1px solid rgba(0, 0, 0, .1);
    border-bottom:1px solid rgba(0, 0, 0, .3);
    width: 60%;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding: 0.4rem;
    background-color: #D3D4BE;
}

.error{
    color: red;
    padding: 0;
}

.textarea{
    border: 1px solid rgba(0, 0, 0, .1);
    border-bottom:1px solid rgba(0, 0, 0, .3);
    width: 60%;
    height: 8em;
    font-size: 1.2rem;
    border-radius: 8px;
   
    margin-bottom: 1rem;
    padding: 1rem;
    background-color:#D3D4BE;
    resize: none; 
}

.button{
    font-weight: 600;
    width:15rem;
    border-radius: 8px;
    color: #fff;
    background-color: black;
    font-size: 1.2rem;
    margin: 1rem;
    padding: .5rem;
}

@media screen and (max-width: 768px){
    .input{
        width: 80%;
    }
    .textarea{
        width: 80%;
    }
}

