.videobg video{
    object-fit: cover;
}
.overlay {  
    background-color: rgba(0,0,0,.2);
 }


.purposeSection{
    background-color: #b9b78f;
}

.purposeText h3{
   
    color: #fff;
}

.purposeText p{
    font-size: small;
    text-align: center;
    line-height: 1.8rem;
    color: #fff;
}



