.whySustainability h1, h3, p{
    text-align: center;
}

.whySustainability p{
    font-size: .9rem;
}



.purposeSection{
   
    background-color: #b9b78f;
}

.purposeText h3,p{
    margin-top: 5rem;
    color: #fff;
}

.purposeText p{
    width: 45rem;
    font-size: small;
    text-align: center;
    line-height: 1.8rem;
}

.imgCardContainer img{
    width: 350px;
    height: 400px;
    z-index: 3;
}

.imgCardContainerText p{
    position: absolute;
    color: black;
} 