.comoFuncionaTitle h3{
    color: #b9b78f;
    text-align: center;
    padding: 8rem;
    font-weight: 600;
    font-size: 2.5rem;
    
}

.comoFuncionaImg{
    width: 50vw;
    background-position: center;
    background-size: cover;
    height: 25rem;
}

.comoFuncionaText {
  padding: 5rem;
    width: 30em;
}

.comoFuncionaText p{
    text-align: center;
    font-size: 1.3rem;
    color: #b9b78f;
}
@media screen and (max-width: 768px){
    .comoFuncionaImg{
        width: 100vw;
}
}

 